.form-style-5 {
  padding: 10px 20px;
  margin: auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: fixed;
  right: 20px;
  bottom: 0;
  max-width: 350px;
  color: #727677;
}
small {
  text-align: center;
  color: #727677;
}
img {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
